//! **************************************************************************
// Written by: Map P.58f on Mon Apr 13 20:19:50 2015
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "an<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "an<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "seg7<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "seg7<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "seg7<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "seg7<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "seg7<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "seg7<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "seg7<6>" LOCATE = SITE "H14" LEVEL 1;
COMP "rst" LOCATE = SITE "G18" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

