//! **************************************************************************
// Written by: Map P.58f on Sun Apr 26 19:08:51 2015
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

